body, html {
  height: 100%;
  width : 100%;
  background-color: #abe1ff;
}

#welcomeWindow {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 10%;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: #abe1ff;
}

.welcomeWindow__container {
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

.welcomeWindow--slide {
  animation-name: slideAnimation;
  animation-duration: 1.0s;
  animation-delay: 0.3s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}

.flexItem {
  display: block;
  flex-grow: 1;
}

.flexItem__header {
  text-align: center;
  font-size: 30px;
  line-height: 30px;
  width: 90%;
  padding: 0% 5%;
  margin: 0;
}

.flexItem__header--small {
  font-size: 20px;
  line-height: 20px;
  padding: 0;
}

.flexItem__header--blue {
  color : #57b2f8;
}

.flexItem--halfHeight {
  height: 30%;
  max-height: 30%;
  margin-top: 10%;
  margin-bottom: 10%;
  padding-bottom: 0%;
  padding-top: 0%;
}

.flexItem--marginBottom {
  margin-bottom: 5%;
}

.flexContainer {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-flow: column;
}

.flexContainer--row {
  flex-flow: row;
  flex-wrap: wrap;
}

.flexContainer--nowrap {
  flex-wrap: nowrap;
}

.flexContainer--large {
  height: 70%;
}

.flexContainer--xxlarge {
  height: 80%;
}

.button {
  width: 40%;
  margin: 0% 5%;
  flex-basis: 300px;
  max-width: 300px;
  max-height: 40px;
  min-height: 30px;
  min-width: 150px;
  text-align: center;
}

.button--red-blinking {
  animation-name: redBlinkingAnimation;
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.counter {
  height: 10%;
}

.counter__item {
  text-align: center;
}

.header--green {
  color : #53cf92;
}

.header--red {
  color : #db8d6b;
}

.header--black {
  color : #020a1b;
}

.deck {
  position: relative;
  width : 80%;
  max-width: 400px;
  height: 80%;
  min-height: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFFF;
  border-radius: 15px;
}

.deck__card {
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color: #FFFFFF;
  z-index: 1;
  text-align: center;
}

.deck__card--hidden {
  z-index: 0;
}

.deck__card--wrongAnswer {
  transform-origin: top right;
  animation-name: wrongAnswerAnimation;
  animation-duration: 2.0s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

.deck__card--wrongAnswer--static {
  animation-name: wrongAnswerAnimationStatic;
}

.deck__card--positiveAnswer {
  animation-name: positiveAnswerAnimation;
  animation-duration: 2.0s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  position: absolute;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  max-height: 60px;
  z-index: 1;
}

.footer__answerContainer {
  height: 100%;
}

.footer__answer {
  width: 100%;
  transition: 2s;
  height: 100%;
  text-align: center;
  animation-name: showAndWanishAnimation;
  animation-duration: 2.0s;
  animation-fill-mode: both;
}

.footer__answer--correct {
  background-color: #53cf92;
}

@keyframes positiveAnswerAnimation {
  0% {
    top: 0;
    background-color: #ddf7e5;
  }
  50% {
    top: 0;
    background-color: #b4efc2;
  }
  100% {
    top : -150vh;
    background-color: #53cf92;
  }
}

@keyframes wrongAnswerAnimation {
  0% {
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #ffb3ae;
  }
  50% {
    top: 0;
    left: 0;
    transform: none;
    background-color: #ff796b;
  }
  80% {
    left: -105%;
    top: -10%;
    z-index: 1;
    transform: rotateZ(50deg);
    background-color: #ffb3ae;
  }
  81% {
    z-index: 0;
  }
  100% {
    z-index: 0;
    left: 0;
    top: 0;
    background-color: #ff796b;
  }
}

@keyframes wrongAnswerAnimationStatic {
  0% {
    background-color: #FFF;
  }
  10% {
    background-color: #ffb3ae;
  }
  40% {
    background-color: #ff796b;
  }
  70% {
    background-color: #ffb3ae;
  }
  100% {
    background-color: #FFF;
  }


}

@keyframes showAndWanishAnimation {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slideAnimation {
  0% {
    display: block;
  }
  100% {
    transform: scale(10.0);
    opacity: 0;
  }
}

@keyframes redBlinkingAnimation {
  0% {
    background-color: #ff796b;
  }
  50% {
    background-color: #ffb3ae;
  }
  100% {
    background-color: #ff796b;
  }
}


@media screen and (orientation:landscape) {

  #welcomeWindow {
    height: 100%;
    padding-top: 3%;
  }

  .deck__card svg {
    display: none;
  }

  .welcomeWindow__container {
    height: 100%;
  }

  .deck__card {
    height: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .flexItem--halfHeight {
    height: 50%;
    max-height: 50%;
    margin-top: 0;
    margin-bottom: 0;
  }

  .flexItem__header {
    font-size: 22px;
    line-height: 22px;
  }

  .button {
    margin: 0;
    margin-bottom: 20px;
  }

  .button:last-child {
    margin: 0;
  }
}

@media screen and (orientation:landscape) and (min-height : 380px){
  #welcomeWindow {
    height: 100%;
    padding: 0;
    padding-top: 10%;
  }

  .deck__card svg {
    display: block;
  }

  .flexItem__header {
    font-size: 20px;
    line-height: 20px;
  }
}

@media screen and (min-width:768px) and (orientation:portrait){
  .welcomeWindow__container .flexItem__header {
    font-size: 2.4rem;
    line-height: 2.4rem;
  }
}

@media screen and (min-width:768px) and (orientation:landscape){
  .welcomeWindow__container .flexItem__header {
    font-size: 2.0rem;
    line-height: 2.0rem;
  }
  .button {
    max-height: 60px;
  }
}

@media screen and (min-width:1024px) {
  .welcomeWindow__container .flexItem__header {
    font-size: 2.8rem;
    line-height: 2.8rem;
  }

  .deck__card {
    height: 100%;
    padding-top: 20%;
    padding-bottom: 20%;
  }
}

@media screen and (min-height:360px) {
  .deck__card {
    height: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
  }
}

@media screen and (min-height:700px) {
  .deck__card {
    height: 100%;
    padding-top: 20%;
    padding-bottom: 20%;
  }
  .welcomeWindow__container {
    height: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
  }
}
@media screen and (min-height:1024px) {
  .deck__card {
    height: 100%;
    padding-top: 30%;
    padding-bottom: 30%;
  }
  .welcomeWindow__container {
    height: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
  }
}
